nav{
    display: flex;
    }
        .sa{
            color: black !important;
        }
        .inputArea{
            width: 100% !important;
        .searchInput{
            display: flex;
            justify-content: center;
        }
        }

    
